<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Con</title>
    <!-- <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="/assets/css/add_value_list.css">
    <link rel="stylesheet" href="/assets/css/global_setting.css">
    <script   src="/assets/js/jquery-3.6.0.min.js"
              integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
              crossorigin="anonymous"></script>
</head>
<body>
    <div class="add_value_list">
        <div class="header_value_list">
            <h2>Data Value</h2>
            <a href="/value_list/{{data.id}}"><button class="btn_back" type="submit"></button></a>
        </div>
        <div class="table_and_btn">
            <h5>Add</h5>
            <form method="post" action="/value_list/{{data.id}}/add_value_list">
            <table class="input_add_value">
                <tr>
                    <th>name</th>
                    <th><input type="text" name="name"></th>
                </tr>
                <tr>
                    <th>start</th>
                    <th><input type="number" name="start"></th>
                </tr>
                <tr>
                    <th>polling_time</th>
                    <th><input type="number" name="polling_time" placeholder='Время опроса в "мс"'></th>
                </tr>
                <tr class="block-text">
                    <th>type_value</th>
                    <th>
                        <input class='clInt' type="radio" name="type_value" value="int">int
                        <input class="clDrug" type="radio" name="type_value" value="real">real
                        <input class="clBool" type="radio" name="type_value" value="bool">bool
                        <input class="clDrug" type="radio" name="type_value" value="double">double
                    </th>
                </tr>
                <tr>
                    <th>type_table</th>
                    <th>
                        <input type="radio" name="type_table" value="int" checked>int
                        <input type="radio" name="type_table" value="real">real
                        <input type="radio" name="type_table" value="bool">bool
                        <input type="radio" name="type_table" value="double">double
                    </th>
                </tr>
                <tr>
                    <th>if_change</th>
                    <th>
                        <input type="radio" name="if_change" value="True" checked>True
                        <input type="radio" name="if_change" value="False">False
                    </th>
                </tr>
                <tr>
                    <th>rewrite_time</th>
                    <th><input type="number" name="rewrite_time" placeholder='Время перезаписи в "мин"'></th>
                </tr>
                <tr>
                    <th>byte_bind</th>
                    <th><input type="number" name="byte_bind"></th>
                </tr>
                <tr class="bit_bind">
                    <th>bit_bind</th>
                    <th><input type="number" name="bit_bind"></th>
                </tr>
            </table>
            <div class="add_value_btn">
                <button class="submit_btn" type="submit">Add</button>
            </div>
            </form>
        </div>
    </div>
<script>
    var count = 0;

    $('input[class="clInt"]').click(function(){

    if (count == 0){
        $('.block-text').after($(`
	                <tr class="temp_tr">
	                    <th>divide</th>
	                       <th>
	                            <input type="radio" name="divide" value="True">True
	                            <input type="radio" name="divide" value="False" checked>False
	                            <input type="number" name="divide_number" placeholder="число деления">
	                       </th>
	                </tr>
	                `));
	    count = 1;
    }
    $('.bool_bit').remove();


});
    $('input[class="clDrug"]').click(function(){

    $('.bool_bit').remove();
    $('.temp_tr').remove();
    count = 0;

});

    $('input[class="clBool"]').click(function(){

    $('.bool_bit').remove();

    $('.bit_bind').after($(`
                <tr class="bool_bit">
                    <th>Boolean bit:</th>
                    <th class="th_type_ivent">
                        <input type="number" placeholder="бит" name="bit_bool">
                        <select name="type_ivent" class="type_ivent">
                                <option value="Null">Тип события</option>
                                <option value="alarm">Alarm</option>
                                <option value="warning">Warning</option>
                        </select>
                    </th>
                </tr>
    `));

    $('.temp_tr').remove();
    count = 0;


    $('.type_ivent').on('change',function(){
        var value = $(this).val();

        if (value == "alarm"){
            $('.select_alarm_text').remove();
            $('.th_type_ivent').after($(`
                <th class="select_alarm_text">
                    <select name="text_alarm">
                        <option>Text alarm</option>
                        {% for i in data.alarm %}
                        <option value={{i.id}}>{{i.name}}</option>
                        {% endfor %}
                    </select>
                </th>
            `));
        };

        if (value == "warning"){
            $('.select_alarm_text').remove();
            $('.th_type_ivent').after($(`
                    <th class="select_alarm_text">
                        <select name="text_alarm">
                            <option>Text warning</option>
                            {% for i in data.warning %}
                            <option value={{i.id}}>{{i.name}}</option>
                            {% endfor %}
                        </select>
                    </th>
                `));
        };

        if (value == "Null"){
            $('.select_alarm_text').remove();
        };
    });


});

$('input[class="clInt"]').click();

</script>
</body>
</html>
