<html>
<head>
<title>Main page</title>
    <!-- <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="/assets/css/global_setting.css">
    <link rel="stylesheet" href="/assets/css/index.css">
    <script   src="/assets/js/jquery-3.6.0.min.js"   integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="   crossorigin="anonymous"></script>
</head>
<body>
    <div class="menu_btn">
        <a href="/connections"><button class="connections_btn" type="submit">Connections</button></a>
        <a href="/alarm_text"><button class="alarms_btn" type="submit">Alarm text</button> </a>
    </div>

</body>
<!--<script>-->

<!--    function show()-->
<!--    {-->
<!--        $.ajax({-->
<!--            url: "/",-->
<!--            cache: false,-->
<!--            success: function(html){-->
<!--                    $("#content").html(html);-->
<!--            }-->
<!--        });-->
<!--        $('input.prob').val(Math.random())-->
<!--    }-->


<!--    $(document).ready(function(){-->
<!--            show();-->
<!--            setInterval('show()',3000);-->
<!--    });-->

<!--</script>-->
</html>
